/eDraftStore/nbproject/private/
/eDraftStore/eDraftStore-ejb/nbproject/private/
/eDraftStore/eDraftStore-war/nbproject/private/
/eDraftStore/eDraftStore-war/build/
/eDraftStore/eDraftStore-ejb/build/
/eDraftStore/eDraftStore-ejb/dist/